.stockLine-data {
    height: 77px;
    background: #1E6E76;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    width: 100%;
}

.stockLine-data p {
    color: #fff;
    margin-bottom: 0;
}

.stock-line {
    background-image: url(../../components/img/bg-line.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 166px;
    display: flex;
    align-items: center;
}

/* .stockLine-data {
    height: 77px;
    background: #1E6E76;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    overflow: hidden; 
}

.stockLine-data p {
    color: #fff;
    margin-bottom: 0;
    white-space: nowrap;
}

.stock-line {
    background-image: url(../../components/img/bg-line.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 166px;
    display: flex;
    align-items: center;
} */

/* .ticker {
    display: flex;
    animation: tickerMove 20s linear infinite;
    white-space: nowrap;
} */
/* 
.ticker {
    display: flex;
    animation: tickerMove 20s linear infinite;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden; 
    white-space: nowrap;
} */

/* .tradingview-widget-container {
    display: inline-block;
    white-space: nowrap;
    width: 100%; 
    height: 100px;
}

.tradingview-widget-container__widget {
    display: inline-block;
    white-space: nowrap;
}

.tradingview-widget-container__widget {
    padding-right: 30px;
}
.ticker-item {
    padding: 0 20px;
    color: #fff; 
    white-space: nowrap;
    font-size: 16px; 
} */

/* @keyframes tickerMove {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
} */

.main-heading {
    font-size: 36px;
    font-family: "Helvetica sense-serif";
}

.text-theme {
    color: #1C656D !important;
}

table.theme-table th {
    background-color: #DBFBFF;
    padding: 12px 7px;
    font-size: 14px;
    color: #242424;
    font-family: 'Roboto';
    font-weight: 600;
    white-space: nowrap;
}

table.theme-table td {
    font-size: 14px;
    padding: 14px 8px;
    color: #666666;
    font-family: 'Roboto';
    font-weight: 400;
    white-space:nowrap;
}

tbody tr {
    border-bottom: 1px solid #999999;
}

.color-green {
    color: #08AE05 !important;
}

.color-red {
    color: red !important;
}

.company-read {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-read img {
    width: 100%;
}

.small-cards {
    padding: 15px;
}

.small-cards h3 {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

.small-cards p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    color: #747474;
    text-align: center;
    margin-bottom: 0;
}

.small-cards {
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 20px 20px #cccccc21;
    border-radius: 50%;
    height: 220px;
    width: 220px;
}

.small-cards img {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
}

.dotted-circle {
    padding: 40px;
    border: 1px dashed #ccc;
    border-radius: 50%;
    border: dashed;
    border-width: 2px;
    border-color: #ccc;
    background: #fff;
}

.stock-boxes {
    flex-wrap: nowrap;
}

.dotted-circle.stock-box1::before {
    content: "";
    position: absolute;
    background: #1E6E76;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 180px;
    width: 320px;
    border-radius: 300px 300px 20px 20px;
    z-index: -1;
}
.dotted-circle.stock-box2::before {
    content: "";
    position: absolute;
    background: #1E6E76;
    bottom: -95px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 170px;
    width: 320px;
    border-radius:20px 20px 300px 300px ;
    z-index: -1;
}

.tradingview-widget-container {
    overflow: hidden;
    /* Prevents the content from overflowing outside the container */
    width: 100%;
    /* Ensure it takes the full width of its parent container */
}

.tradingview-widget-container__widget {
    display: flex;
    /* To arrange items horizontally */
    justify-content: start;
    /* Align items to the start */
    white-space: nowrap;
    /* Prevent wrapping */
    animation: scroll-left 20s linear infinite;
    /* Scroll animation */
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
        /* Start from the right */
    }

    100% {
        transform: translateX(-100%);
        /* End at the left */
    }
}